body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('header-background.png'); 
    background-size: cover; 
    background-position: center; 
    text-align: center;
    padding: 50px 20px;
    color: black; 
}

h1 {
    margin: 0;
}

.countdown {
    font-size: 24px;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e9ecef;
}
.gallery-heading {
    margin-bottom: 20px; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}
.message{
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
}






